
*{
    margin:0;
    padding:0;
    box-sizing:border-box;


}
body{
    font-family: Arial, sans-serif;
    color: #333;
    transition: 0.5s;

    background-image: url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero,
section{
    background: rgba(255,255,255,0.85);
    margin: 20px;
    border-radius: 15px;
}

.card{
    flex:1;
    min-width:250px;
    background: rgba(255,255,255,0.95);
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

body{
    font-family:Arial, sans-serif;
    background:#f4f7f1;
    color:#333;
    transition:0.5s;
}

header{
    background:#2e7d32;
    color:white;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
}

nav a:hover{
    color:#ffe082;
}

.hero{
    text-align:center;
    padding:60px 20px;
}

.hero button{
    margin-top:20px;
}

button{
    padding:10px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#4caf50;
    color:white;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
}

section{
    padding:30px;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    flex:1;
    min-width:250px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
 }
 
.dark{
    background:#121212;
    color:white;
}

.dark .card{
    background:#1f1f1f;
}

.acessibilidade{
    text-align:center;
}

@media (max-width:768px){

    header{
        flex-direction:column;
    }

    .cards{
        flex-direction:column;
    }

}